body {
  background-color: #dedede;
}
#root > div > div > div.home-left > main > div > div:nth-child(1) {
  display: none;
}
#root > div > div > div.home-left > main > div > div:nth-child(2) {
  height: 90vh;
}
